.pieceCard__container{
  background-color: #262421;
  height: 80px;
  width:50px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(255, 217, 0, 0.1) 0px 0px 15px;
}

.pieceCard__container-click{
  background-color: black;
  padding-left: 3px;
  padding-top: 12px;
  height: 130px;
  width:50px;
  border-radius: 5px;
  overflow: hidden;
  color: gray;
  cursor: pointer
}


.pieceCard__card{
  margin-top: 5px;
  background-color: #201e1c;
  height: 35px;
  width:50px;
  justify-content: center;
}


