.board__body{
  display: flex;
  justify-content: center;
}


.board__board{
  margin-top: 20px;
  width: 360px;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}

.boardScreen__container{
  width: 360px;
  display: block;
  align-items: center;
}

.board__pieceCard{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  
}

.board__h2  {
  margin: 10px;
}



.board__container-icon{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}


.board__card-container{
  background-color: #201e1c;
  height: 80px;
  width:50px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(255, 217, 0, 0.1) 0px 0px 15px;
}

.board__card-container:hover{
  background-color: black;
}
.board__card-text{
  margin-top: 15px;
  font-size: 35px;
}