.board__body{
  display: flex;
  justify-content: center;
}


.board__board{
  margin-top: 20px;
  width: 360px;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}

.boardScreen__container{
  width: 360px;
  display: block;
  align-items: center;
}

.board__pieceCard{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  
}

.board__h2  {
  margin: 10px;
}



.board__container-icon{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
