.playScreen__body{
  display: flex;
  justify-content: center;
}


.playScreen__board{
  width: 360px;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}

.playScreen__container{
  padding-top: 20px;
  display: block;
  align-items: center;
}

.playScreen__play-container{
  background-color: #262421;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.playScreen__pieceCard{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  
}



.playScreen__container-icon{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}


.playScreen__win-navbar {
  padding-top:5px ;
  position: absolute;
  width: 100%;
  height: 40px;
  top:0px;
  box-shadow: #201e1c 0px 1px 5px;
  background-color: #201e1c;
}


.playScreen__win-box{
  margin-top: 245px;
  width: 240px;
  height: 100px;
  position: absolute;
  background-color: #262421;
  border-radius: 5px;
}

.playScreen__h2{
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.playScreen__win-h2{
  margin-top: 15px;

}

.playScreen__player-icon{
  width: 22px;
  height: 22px;
  margin-right: 10px;
  color: lightgray;
  fill: lightgray;
}

.playScreen__player-box{
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
}

.playScreen__surender{
  margin-top: 15px;

}
