.playScreen__body{
  display: flex;
  justify-content: center;
}


.playScreen__board{
  margin-top: 20px;
  width: 360px;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}

.playScreen__container{
  display: block;
  align-items: center;
}

.playScreen__pieceCard{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  
}



.playScreen__container-icon{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}