.playScreen__body{
  display: flex;
  justify-content: center;
}


.playScreen__board{
  width: 360px;
  border-radius:0px;
  overflow: hidden;
  align-items: center;
}

.playScreen__container{
  padding-top: 20px;
  display: block;
  align-items: center;
}

.playScreen__play-container{
  box-shadow: rgba(255, 217, 0, 0.1) 0px 0px 15px;
  background-color: #262421;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.playScreen__pieceCard{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  
}



.playScreen__container-icon{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}


.playScreen__win-navbar {
  padding-top:5px ;
  position: fixed;
  width: 100%;
  height: 40px;
  top:0px;
  box-shadow: #201e1c 0px 1px 5px;
  background-color: #201e1c;
}


.playScreen__win-box{
  margin-top: 245px;
  width: 240px;
  height: 100px;
  position: absolute;
  background-color: #262421;
  border-radius: 5px;
}

.playScreen__h2{
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.playScreen__win-h2{
  margin-top: 15px;

}

.playScreen__icon-big{
  width: 30px;
  height: 30px;
  color: lightgray;
  fill: lightgray;
}

.playScreen__player-icon{
  width: 22px;
  height: 22px;
  margin-right: 10px;
  color: lightgray;
  fill: lightgray;
}

.playScreen__player-box{
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
}

.playScreen__player-margin{
  margin-top: 10px;
  margin-left: 30px;
  width: 60px;
  margin-right: 40px;
}

.playScreen__player-border{
  background-color:#201e1c;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
}


.playScreen__player-time{
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 20px);
  display: flex;
}

.playScreen__surender{
  margin-top: 15px;
}

.playScreen__option{
  box-shadow: rgba(255, 217, 0, 0.1) 0px 0px 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  width: 360px;
  cursor: pointer;
}

.playScreen__option-big{
  padding-top: 10px;
  background-color: #201e1c;
  height: 40px;
  width: 110px;
}

.playScreen__option-biggest{
  padding-top: 5px;
  background-color: #201e1c;
  height: 45px;
  width: 220px;
}

.playScreen__option-small-left{
  padding-top: 5px;
  background-color: #201e1c;
  height: 45px;
  width: 70px;
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
}

.playScreen__option-small-right{
  padding-top: 5px;
  background-color: #201e1c;
  height: 45px;
  width: 70px;
  border-top-right-radius: 5px;
  border-end-end-radius: 5px;
}

.playScreen__option-big-left{
  padding-top: 5px;
  background-color: #201e1c;
  height: 45px;
  width: 180px;
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
}

.playScreen__option-big-right{
  padding-top: 5px;
  background-color: #201e1c;
  height: 45px;
  width: 180px;
  border-top-right-radius: 5px;
  border-end-end-radius: 5px;
}

.playScreen__option :hover{
  background-color: black;
}

.playScreen__option-h2{
  font-size: 30px;
}

.playScreen__option-h3{
  padding-top: 5px;
  font-size: 24px;
}

@media only screen and (min-width: 900px) {
  
  .playScreen__win-navbar {
    width: 360px;
    height: 50px;
    position: fixed;
    margin-top: -60px;
  }

}
