.LoginScreen__body{
  display: flex;
  justify-content: center;
}

.LoginScreen__container{
  margin-top: 20px;
  height: 400px;
  display: block;
  align-items: center;
}

.LoginScreen__box{
  box-shadow: rgba(255, 217, 0, 0.1) 0px 0px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #201e1c;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  width: 250px;
}

.LoginScreen__h3{
  margin: 0;
}