body {
  margin: 0;
  background-color: #312e2b;
  height: 100% -50px;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  letter-spacing: 2px;
  margin: 0;
  background: -webkit-linear-gradient(90deg, rgb(214, 179, 75) 0%, rgba(136,129,16,1) 53%, rgba(147,106,1,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: sans-serif;
  letter-spacing: 2px;
  margin: 0;
  color: lightgray;
}

h3 {
  font-family: sans-serif;
  letter-spacing: 2px;
  margin: 0;
  color: lightgray;
  margin-top: 10px;
}

p {
  letter-spacing: 1px;
  font-family: sans-serif;
  margin: 0;
  color: lightgray;
}

.container{
  padding-top: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (min-width: 900px) {
  .container {
    position: fixed;
    width: 60%;
    margin-left: 40%;
    margin-top: 0;
    padding-top: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}