.Button__container{
  background-color: #201e1c;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.Button__container :hover{
  height: 40px;
  background-color: #000000;
  border-radius: 5px;
  color:gray;
}

.Button__container :active{
  height: 40px;
  background-color: #000000;
  border-radius: 5px;
  color:gray;
}

.Button__h2 {
  padding-top: 10px;
}