.Input__container{
  color: lightgray;
  background-color: #201e1c;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  max-width: 360px;
  max-height: 48px;
  box-shadow: rgba(255, 217, 0, 0.1) 0px 0px 15px;
}

input:focus::placeholder {
  color: gray;
}

::placeholder {
  font-size: 24px;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 2px;
  color:lightgray
}
::placeholder :focus {
  color:gray
}

input {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}
input:focus{
  outline: none;
  background-color: #000000;
  color: gray;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}


.Input__h2 {
  padding-top: 10px;
}