.Navbar__container {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: #201e1c;
  display: flex;
  box-shadow: #201e1c 0px 1px 5px;
}
.Navbar__switch {
  position: fixed;
  width: 50px;
  height: 50px;
}
.Navbar__h1 {
  font-size: 30px;
  padding-top: 7px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.Navbar__icon{
  margin-top: 10px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  color: lightgray;
  filter: invert(80%);
  cursor: pointer;
}
.Navbar__checked-icon{
  margin: 10px;
  margin-right: 30px;
  width: 30px;
  height: 30px;
  color: lightgray;
  filter: invert(80%);
  cursor: pointer;
}

.Navbar__checked-box{
  display: flex;
  cursor: pointer;
}

.Navbar__checked-h2{
  margin-top: 10px;
  font-size: 30px;
}

.Navbar__checked-h3{
  margin-top: 7px;
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.Navbar__checked-container{
  height: 100%;
  width: 100%;
  background-color: #262421;
  position: fixed;
  text-align: left;
  z-index: 100;
}

.Navbar__checked-body{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.Navbar__checked-head{
  margin-bottom: 10px;
  background-color: #201e1c;
  box-shadow: #201e1c 0px 1px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}